<p id="notice"><%= notice %></p>

<h1>Birds</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @birds.each do |bird| %>
      <tr>
        <td>
          <a href="<%= bird_path(bird) %>">
            <%= bird.common_name %>
          </a>
        <td><%= link_to 'Edit', edit_bird_path(bird) %></td>
        <td><%= link_to 'Destroy', bird, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


