<h1>New Bird</h1>

<%= form_with model: @bird do |form| %>
  <div>
    <%= form.label :common_name %><br>
    <%= form.text_field :common_name %>
    <% @bird.errors.full_messages_for(:common_name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <br>
  <div>
    <%= form.label :latin_name %><br>
    <%= form.text_field :latin_name %>
    <% @bird.errors.full_messages_for(:latin_name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <br>
  <div>
    <%= form.submit %>
  </div>
<% end %>
<br>
<%= link_to 'Back', birds_path %>
